

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Station view</title>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" >
<script
	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>


<style>
	
body {
	min-width:1550px;       
	width: auto !important;  
} 
	
table, th, td {
	border: 1px solid black;
	font-family: Segoe UI;
	font-size: 15px;
}

h2 {
	font-family: Times new roman;
	padding-top: 25px;
	padding-bottom: 25px;
}

container {
	font-family: Segoe UI;
}

table {
	border-collapse: separate;
	border-spacing: 0 15px;
}

table {
	counter-reset: rowNumber;
}

#tableid tr::before {
	display: table-cell;
	counter-increment: rowNumber;
	content: counter(rowNumber) ".";
}

.jumbotron {
	display: flex;
	align-items: center;
	height: 300px;
	background-image:
		url("https://source.unsplash.com/random/?bicycle");
	background-size: cover;
	background-position: center;
}

.btn-primary {
	background-color: #24B5DF !important;
}
</style>


<body>

<div th:insert="navbar :: navbar">  </div>

	<section class="jumbotron">
		<div class="container">
			<div class="row text-center">
				<br>
			</div>
		</div>
	</section>

	<div class="container">

		<h2>Helsinki City Bike Stations </h2>
		<br> <br>
		<div class="row align-items-md-stretch">

			<div class="col-md-5">
				<div class="card border-dark mb-3"
					style="width: 500px; height: 820px">
					<h4 class="card-header">Create a new station:</h4>
					<div class="card-body">

						<!-- ------------------------------------------------------------------------------------------------------- -->
   	<!-- LISÄÄ UUSI ASEMA  - -->

						<form th:action="@{save}" action="#" method="post">
							<div class="form-group pb-3">
								<p>
									<b> Station Name</b>
								</p>
								<input class="form-control" type="text" id="stationname"
									 th:field="${station.name}" required />
								<br>
									<p>
									<b> Station FID -number </b>
								</p>
									<input class="form-control" type="number" id="stationfid"
									th:field="${station.fid}" required />
								<br>
									<p>
									<b> Station address</b>
								</p>								
								<input class="form-control" type="text" id="stationaddress"
									th:field="${station.address}" required />
								<br>
									<p>
									<b> Station city</b>
								</p>
								<input class="form-control" type="text" id="stationcity"
									th:field="${station.city}" required />
								<br>
									<p>
									<b> Station capacity</b>
								</p>
								<input class="form-control" type="text" id="capacity"
								     th:field="${station.kapasiteet}" required />
								<br>
									<p>
									<b> Station operator</b>
								</p>
								<input class="form-control" type="text" id="operator"
									th:field="${station.operaattor}" required />
								<br>
									<p>
									<b> X-Coordinate</b>
								</p>
								
		                        <input class="form-control" type="text" id="xcoordinate"
								    th:field="${station.x}" required />
								<br>
									<p>
									<b> Y-Coordinate</b>
								</p>
								<input class="form-control" type="text" id="ycoordinatey"
								th:field="${station.y}" required />
								<br>																			
							</div>
							<button class="btn btn-success" type="submit">Create</button>

						</form>
					</div>
				</div>
			</div>
		</div>


		<!-- ------------------------------------------------------------------------------------------------------- -->
		<!--  BOOTSTRAP-TABLE   - -->
		<div class="container-lista  pt-4">

			<table class="table table-bordered ">
				<thead class="thead-dark">

					<tr>
						<th></th>
					   <th>fid</th>
					    <th>id</th>
						<th><a th:href="@{/stations/sortedby/stationname}">
								Station name</a></th>
						<th>Station address</th>
						<th>City</th>
						<th>Operator</th>
						<th>Capacity</th>
						<th>X-Coordinate</th>
						<th>Y-Coordinate</th>
						<th>Removable?</th>
						<th>Editable?</th>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tbody id="tableid">

					<!--  NÄYTÄ ASEMAT LISTALLA   -->

						<tr th:each="station : ${page.content}">
					<td th:text="${station.fid}"></td>
					<td th:text="${station.id}"></td>
						<td th:text="${station.name}"></td>
						<td th:text="${station.address}"></td>
						<td th:text="${station.city}"></td>
							<td th:text="${station.operaattor}"></td>
								<td th:text="${station.kapasiteet}"></td>
								<td th:text="${station.x}"></td>
								<td th:text="${station.y}"></td>
						<td th:text="${station.isremovable}"></td>
							<td th:text="${station.editable}"></td>
							<td>
												
						<!--  MUOKKAA ASEMAA  - --> 			
					<a th:href="@{/edit/{id}/station(id=${station.id})}">Edit</a>
	                	<!--  POISTA ASEMA  - --> 				
					<td><a class="btn btn-warning" th:href="@{/delete/station/{id}(id=${station.id})}  ">Delete</a></td> 											
									
					</tr>
			</table>
		<div class="pagination-div">
				<span th:if="${page.hasPrevious()}"> <a
					th:href="@{/stations(page=${page.number-1},size=${page.size})}">Previous</a>
				</span>
				
				<th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}"></th:block>
				<span th:if="${page.hasNext()}"> <a
					th:href="@{/stations(page=${page.number+1},size=${page.size})}">Next</a>
				</span>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div class="container-fluid">
	</div>
</body>
</html>

